.frame {
  margin: 20px auto;
  width: 800px;
  height: 600px;
  border: 1px solid #000;
}

label {
  margin-right: 10px;
  margin-left: 2px;
}

.Colour {
  width: 800px;
  height: 600px;
}

.Red {
  background-color: #FF0000;
}

.Blue {
  background-color: #0000FF;
}

.Green {
  background-color: #00FF00;
}

.Yellow {
  background-color: #FFFF00;
}

.Pink {
  background-color: #FFB6C1;
}